/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-feb-2023, 11:21:23
    Author     : tecno1
*/
html{
            background: #222;
            margin: auto;
            width: 640px;
            height: 480px;
        }
        body{
            background: linear-gradient(#aaa 0, #ddd 10px, #fff 55px);
            border: 1px solid black;
            padding: 10px 20px;
            box-shadow: 5px 0px 30px #000;
            border-radius: 8px;
            }
        #fotos {
            position:relative; top:-330px; left: 120px;
        }
        #score{
            position:relative; top:-280px; left: 280px;
            text-shadow: 2px 2px green;
            font-size: 40px;
            font-family: "Lucida Console", "Courier New", monospace;
        }
        #counter {
            background: linear-gradient(#aaa 0, #ddd 10px, #fff 55px);
            border: 1px solid black;
            padding: 1px 2px;
            border-radius: 8px;
            margin: auto;
        }
        .button:active {
    background-color: #ffbf00;
}
    /*#boton {
  background-color: #4CAF50;
  border: 2px solid #4CAF50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}*/